body {
    background-color:darksalmon;
    font-family: Arial, Helvetica, sans-serif;
}
d1 {
    font-size: 50px;
    font-weight:800;
    color: black;
    margin-left: 25%;
}
d2 {
    font-size: 30px;
    color: black;
}
d3{
    font-size: 20px; 
    color: black;
}
t1{
    font-size: 30px;
    color: black;
}
